{%extends './basetemp.html' %}
{% block title %}Delete Quiz{% endblock %}
{% block content %}
<div class="card text-center center-25 mt-3">
  <div class="card-header">
    Confirmation
  </div>
  <div class="card-body">
    <h5 class="card-title">Are you sure you want to delete the quiz "{{quiz}}"?</h5>
    <p class="card-text">This action can not be undone.</p>
    <a href="{% url 'deletequiz' quiz.id %}" class="btn btn-danger">Delete</a>
  </div>
  <div class="card-footer">
    Confirmation
  </div>
</div>
{% endblock %}