{%extends './basetemp.html' %}
{%load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="center-25 card text-center mt-3">
  <div class="card-header text-white bg-primary">
    Login
  </div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="alert alert-danger">
          {{message}}
        </div>
        {% else %}
        <div class="alert alert-success">
          {{message}}
        </div>
        {% endif %}
      {% endfor %}
      <div class="form-outline mb-4">
        {{login_form.username.label_tag}}
        {{login_form.username}}
      </div>
      <div class="form-outline mb-4">
        {{login_form.password.label_tag}}
        {{login_form.password}}
      </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
  <div class="card-footer text-muted">
    <p class="text-center">
        Don't have an account? <a href="/register">Create an account</a>.
      </p>
  </div>
</div>
{% endblock %}
