{%extends './basetemp.html' %}
{% block title %}Stats{% endblock %}
{% block content %}
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile' user.username %}">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{stats.user}}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h1 class="my-3">{{stats.user}}</h1>
            <h3 class="my-3">{{stats.bio}}</h3>
            <h5 class="my-1">Date joined:</h5>
            <p class="text-muted mb-1">{{stats.user.date_joined|date:'j/M/Y'}}</p>
            <h5 class="my-1">Last seen:</h5>
            <p class="text-muted mb-4">{{stats.user.last_login|date:'j/M/Y'}}</p>
            <div class="d-flex justify-content-center mb-2">
              {% if form_update %}
                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#UpdateBioModal">Update Bio</button>
              {% else %}
                <button type="button" class="btn btn-outline-primary ms-1" data-toggle="modal" data-target="#ReportProfileModal">Report</button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-header">
           Quizes Created by {{stats.user}}
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              {% for quiz in createdquizes %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                
                <a href="{% url 'quiz' quiz.id %}"><p class="mb-0">{{quiz.title}}</p></a>
                <p class="mb-0">{{quiz.description|truncatechars:40}}...</p>
              </li>
              {% endfor %}
            </ul>
            <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not createdquizes.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="?page2=1&page1={{request.GET.page1}}" tabindex="-1">First</a>
                        </li>
                        <li class="page-item {% if not createdquizes.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if createdquizes.has_previous %}?page2={{ createdquizes.previous_page_number }}&page1={{request.GET.page1}}{% else %} # {% endif %}" tabindex="-1">Previous</a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link" href="#">{{ createdquizes.number }} of {{ createdquizes.paginator.num_pages }}</a></li>
                        <li class="page-item {% if not createdquizes.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if createdquizes.has_next %}?page2={{ createdquizes.next_page_number }}&page1={{request.GET.page1}}{% else %} # {% endif %}">Next</a>
                        </li>
                        <li class="page-item {% if not createdquizes.has_next %} disabled {% endif %}">
                            <a class="page-link" href="?page2={{ createdquizes.paginator.num_pages }}&page1={{request.GET.page1}}" tabindex="-1">Last</a>
                        </li>
                    </ul>
                </nav>
          </div>
        </div>
      </div>
      
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Solved Quizes</h5>
            {% for quiz in searchdata %}
            <div class="row">
              <div class="col-sm-3">
                <a href="{% url 'quiz' quiz.quiz.id %}"><p class="mb-0">{{quiz.quiz}}</p></a>
                <img
                    src="/static/quiz/images/{{quiz.quiz.category}}.png"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{quiz.quiz.description}}</p>
              </div>
            </div>
            <hr>
            {% endfor %}
            <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not searchdata.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="?page1=1&page2={{request.GET.page2}}" tabindex="-1">First</a>
                        </li>
                        <li class="page-item {% if not searchdata.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if searchdata.has_previous %}?page1={{ searchdata.previous_page_number }}&page2={{request.GET.page2}}{% else %} # {% endif %}" tabindex="-1">Previous</a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link" href="#">Page {{ searchdata.number }} of {{ searchdata.paginator.num_pages }}</a></li>
                        <li class="page-item {% if not searchdata.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if searchdata.has_next %}?page1={{ searchdata.next_page_number }}&page2={{request.GET.page2}}{% else %} # {% endif %}">Next</a>
                        </li>
                        <li class="page-item {% if not searchdata.has_next %} disabled {% endif %}">
                            <a class="page-link" href="?page1={{ searchdata.paginator.num_pages }}&page2={{request.GET.page2}}" tabindex="-1">Last</a>
                        </li>
                    </ul>
                </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Average quiz score per <span class="text-primary font-italic me-1">category</span>
                </p>
                {% for category, score in cat_scores.items %}
                  <p class="mt-4 mb-1 text-primary font-italic me-1" style="font-size: .9rem;">{{category}}</p>
                  <div class="progress rounded" style="height: 15px;">
                    <div class="progress-bar" role="progressbar"  style="width: {{score}}%" aria-valuenow="{{score}}"
                      aria-valuemin="0" aria-valuemax="100">{% if score == 0 %}{% else %}{{score}}%{% endif %}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Solved quizes per <span class="text-primary font-italic me-1">category</span> out of all
                </p>
                {% for category, solved in amount_solved.items %}
                  <p class="mt-4 mb-1 text-primary font-italic me-1" style="font-size: .9rem;">{{category}}</p>
                  <div class="progress rounded" style="height: 15px;">
                    <div class="progress-bar" role="progressbar"  style="width: {{solved}}%" aria-valuenow="{{solved}}"
                      aria-valuemin="0" aria-valuemax="100">{% if solved == 0 %}{% else %}{{solved}}%{% endif %}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="UpdateBioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update your profile bio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'profile' user.username %}">
              <div class="form-group">
                {% csrf_token %}
                {{form_update}}
              </div>
              <button class="btn btn-primary" type="submit">Update</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="ReportProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Report User Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'profile' stats.user.username %}">
              <form>
              {% csrf_token %}
                <div class="form-group">
                  {% csrf_token %}
                  {{form}}
                </div>
              <button class="btn btn-primary" type="submit">Report</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
</div>
{% endblock %}