{%extends './basetemp.html' %}
{% block title %}Stats{% endblock %}
{% block content %}
    <h1>{{stats.user}}</h1>
    <h2>{{stats.bio}}</h2>
    {% if form %}
      <div class="form-outline w-25">
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <label class="form-label" for="textAreaExample">Message</label>
            </div>
        <button class="btn btn-primary" type="submit">Update</button>
        </form>
      </div>
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        <h2>{{message}}</h2>
      {% endfor %}
    {% endif %}
    {% for score in scores %}
        <a href="{% url 'quiz' score.quiz.id %}"><h3>{{score.quiz}}</h3></a>
        <h3>{{score.points}}</h3>
        <h3>{{score.date}}</h3>
    {% endfor %}

{% endblock %}