{%extends './basetemp.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if searchdata %}
      <section style="background-color:None">
        <div class="container my-5 py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
              <div class="card text-dark pt-3">
                <h4 class="mb-0 p-2">Search results for: {{query}}</h4>
                  <p class="fw-light mb-4 p-2">Based on quiz title</p>
                {% for quiz in searchdata %}
                <div class="card-body p-4 bg-light border-top border-bottom border-primary">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="/static/quiz/images/{{quiz.category}}.png" alt="avatar" width="60"
                      height="60" />
                    <div class="pl-1">
                      <a href="{% url 'quiz' quiz.id %}" class="badge badge-light">
                        <h4 class="font-weight-bold mb-1">{{quiz.title|truncatechars:20|title}}</h4>
                      </a>
                        <div class="d-flex align-items-center mb-3">
                          <p class="mb-0">
                            {{quiz.created|date:'M d, Y'}}
                            <span class="badge bg-secondary">{{quiz.category}}</span>
                          </p>
                          <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                          <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                          <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                        </div>
                        <p class="mb-0 font-weight-bold">
                          {{quiz.description|truncatechars:30}}
                        </p>
                        <p class="mb-0">
                          Created by: {{quiz.created_by}}
                        </p>
                    </div>
                  </div>
                </div>
                <hr class="hr hr-blurry" />
                {% endfor %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item {% if not searchdata.has_previous %} disabled {% endif %}">
                      <a class="page-link" href="?page=1&search={{query}}" tabindex="-1">First</a>
                    </li>
                    <li class="page-item {% if not searchdata.has_previous %} disabled {% endif %}">
                      <a class="page-link" href="{% if searchdata.has_previous %}?page={{ searchdata.previous_page_number }}&search={{query}} {% else %} # {% endif %}" tabindex="-1">Previous</a>
                    </li>

                    <li class="page-item disabled"><a class="page-link" href="#">Page {{ searchdata.number }} of {{ searchdata.paginator.num_pages }}</a></li>
                    <li class="page-item {% if not searchdata.has_next %} disabled {% endif %}">
                      <a class="page-link" href="{% if searchdata.has_next %}?page={{ searchdata.next_page_number }}&search={{query}} {% else %} # {% endif %}">Next</a>
                    </li>
                    <li class="page-item {% if not searchdata.has_next %} disabled {% endif %}">
                      <a class="page-link" href="?page={{ searchdata.paginator.num_pages }}&search={{query}}" tabindex="-1">Last</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
    </section>
    {% endif %}
{% endblock %}


