{%extends './basetemp.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="table-responsive-sm center">
    <table class="table align-middle mb-0 bg-white table-hover">
        <thead class="bg-light">
            <tr>
                <th colspan="2">
                    <h3>Quizes containing "{{query}}"</h3>
                </th>
                <th colspan="3">
                    <form action="" method="POST" style="float: right;">
                        {% csrf_token %}
                        <select name="sort" id="sort" class="form-select">
                            <option value="{{search}}" hidden selected>{{search}}</option>
                            <option value="popular">Popular</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="easiest">Easiest</option>
                        </select>
                        <input type="submit" value="Sort" class="btn btn-secondary">
                    </form>
                </th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Times Solved</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in searchdata %}
            <tr>
            <td>
                <div class="d-flex align-items-center">
                <img
                    src="/static/quiz/images/{{quiz.category}}.png"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                    <a href="{% url 'quiz' quiz.id %}"><h4 class="fw-bold mb-1">{{quiz.title}}</h4></a>
                </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">{{quiz.description|truncatechars:100}}...</p>
                <p class="text-muted mb-0">{{quiz.created|date:'j/M/Y'}}</p>
            </td>
            <td>
                <span class="badge badge-primary rounded-pill d-inline">{{quiz.count}}</span>
            </td>
            <td>{{quiz.rating}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not searchdata.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="?page=1&search={{query}}" tabindex="-1">First</a>
                        </li>
                        <li class="page-item {% if not searchdata.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if searchdata.has_previous %}?page={{ searchdata.previous_page_number }}&search={{query}} {% else %} # {% endif %}" tabindex="-1">Previous</a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link" href="#">Page {{ searchdata.number }} of {{ searchdata.paginator.num_pages }}</a></li>
                        <li class="page-item {% if not searchdata.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if searchdata.has_next %}?page={{ searchdata.next_page_number }}&search={{query}} {% else %} # {% endif %}">Next</a>
                        </li>
                        <li class="page-item {% if not searchdata.has_next %} disabled {% endif %}">
                            <a class="page-link" href="?page={{ searchdata.paginator.num_pages }}&search={{query}}" tabindex="-1">Last</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tfoot>
    </table>
</div>
{% endblock %}


