{%extends './basetemp.html' %}
{% block title %}Solve{% endblock %}
{% block content %}

  <div class="centered">
    <div style="margin: auto; width:50%; text-align: center;">
      <h1 class="question-text">{{quiz.title}}</h1>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      {%for question in questions%}
      <fieldset class="form-group">
          <h2 class="question-text">{{question.number}}. {{question.text}}</h2>
          <ol type="A" class="label-class" style="padding-left: 0;">
            {% for choice in choices %} 
              {% if choice.question == question %}
                <div class="form-check" style="padding-left: 0;">
                  <input type="radio" id="{{choice}}" value="{{choice.id}}" name="{{question.id}}">
                  <label for="{{choice}}" id="{{choice}}label">{{choice}}</label>
                </div>
              {% endif %}
            {% endfor %}
          </ol>
      </fieldset>
      {% endfor %}
      <div style="margin: auto; width: 50%; text-align: center;">
        <input class="btn btn-primary" type="submit" name="Submit">
      </div>
    </form>
   </div>
{% endblock %}
